Source: astal-unstable
Maintainer: Răzvan-Alexandru Smădu <razvansmadu@gmail.com>
Uploaders: Răzvan-Alexandru Smădu <razvansmadu@gmail.com>
Section: libs
Priority: optional
Standards-Version: 4.6.2
Build-Depends:
 debhelper-compat (= 13),
 meson,
 valac,
 valadoc,
 gobject-introspection,
 libgirepository1.0-dev,
 libgtk-3-dev,
 libgtk-layer-shell-dev,
 libgtk-4-dev,
 libgtk4-layer-shell-dev,
 libjson-glib-dev,
 libgjs-dev,
 libnm-dev,
Homepage: https://aylur.github.io/astal/
Vcs-Git: https://github.com/Aylur/astal

Package: astal-unstable
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Provides: astal
Conflicts: astal
Description: Building blocks for creating custom desktop shells (unstable git version)
 Astal is a collection of libraries written in Vala and C, designed to serve
 as the foundation for both lightweight widgets and fully-featured desktop
 shells. It handles the backend logic, so you can focus entirely on building
 the frontend.

Package: astal-unstable-dev
Architecture: any
Section: libdevel
Depends:
 astal-unstable (= ${binary:Version}),
 ${misc:Depends},
Provides: astal-dev
Conflicts: astal-dev
Description: Building blocks for creating custom desktop shells - development files (unstable git version)
 Astal is a collection of libraries written in Vala and C, designed to serve
 as the foundation for both lightweight widgets and fully-featured desktop
 shells. It handles the backend logic, so you can focus entirely on building
 the frontend.
 .
 This package contains the development files.

Package: astal-unstable-gir
Architecture: all
Section: introspection
Depends:
 astal-unstable,
 ${misc:Depends},
Provides: astal-gir
Conflicts: astal-gir
Description: Building blocks for creating custom desktop shells - GObject introspection (unstable git version)
 Astal is a collection of libraries written in Vala and C, designed to serve
 as the foundation for both lightweight widgets and fully-featured desktop
 shells. It handles the backend logic, so you can focus entirely on building
 the frontend.
 .
 This package contains the GObject introspection data.
