#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cargo build --release --locked --offline || cargo build --release --offline

override_dh_auto_install:
	install -D -m 0755 target/release/matugen debian/matugen/usr/bin/matugen

override_dh_dwz:
	# Ignore dwz compression for Rust binaries
