#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Home directory is read-only on Launchpad
export CARGO_HOME=.

%:
	dh $@

override_dh_auto_build:
	cargo build --release --frozen

execute_after_dh_auto_build:
	./doc/gen.sh

override_dh_auto_install:
	install target/release/swww debian/swww/usr/bin/swww
	install target/release/swww-daemon debian/swww/usr/bin/swww-daemon
